# 屏蔽自动生成的解决方案、spine工程
*.sln
spine-*.csproj
*.csproj.user
*.user

# 例外：必须保留自己主代码工程（!代表不忽略）
!Assembly-CSharp.csproj
!Assembly-CSharp-Editor.csproj

# Unity标准忽略规则
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Uu]ser[Ss]ettings/Layouts/

# VS生成工程文件
*.csproj
*.sln
*.suo
*.user
*.userprefs

# Unity打包产物
Build/
Builds/
obj/
# Unity缓存目录
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Uu]ser[Ss]ettings/Layouts/

# VS工程文件
*.csproj
*.sln
*.user
*.suo